<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <nav class='navbar navbar-default navbar-static-top'>
        <div class='container'>
            <ul class='nav navbar-nav'>
                <li ><a class='navbar-brand' href="{% url 'basic_app:index' %}">BRAND</a></li>
                <li><a class='navbar-link' href="{% url 'admin:index' %}">Admin</a></li>
                <li><a class='navbar-link' href="{% url 'basic_app:registration' %}">Register</a></li>
                <li><a class='navbar-link' href="{% url 'basic_app:other' %}">Other</a></li>
                <li><a class='navbar-link' href="{% url 'basic_app:relative_url_templates' %}">Relative</a></li>
                <li><a class='navbar-link' href="{% url 'special' %}">Special</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}" class ="navbar-link">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'basic_app:user_login' %}" class ="navbar-link">Login</a></li>
                {% endif %}

            </ul>
        </div>
    </nav>

    <div class='container'>
        {% block body_block %}
        <!-- Anything outside this will be inherited if you extend. -->
        {% endblock %}

    </div>
</body>
</html>